/level-editor-cli/view.opt.svg
/level-editor-cli/view.svg
/level-editor-core-java/level-editor-core-java.iml
/level-editor-core-java/.idea/.name
/level-editor-core-java/.idea/codeStyleSettings.xml
/level-editor-core-java/.idea/compiler.xml
/level-editor-core-java/.idea/copyright/profiles_settings.xml
/level-editor-core-java/.idea/encodings.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_gameapp_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_gameutils_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_gameworld_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_liboldfart_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_libscene_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_libstrip_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__br_odb_libworldproc_1_0_SNAPSHOT.xml
/level-editor-core-java/.idea/libraries/Maven__junit_junit_4_10.xml
/level-editor-core-java/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/level-editor-core-java/.idea/misc.xml
/level-editor-core-java/.idea/modules.xml
/level-editor-core-java/.idea/uiDesigner.xml
/level-editor-core-java/.idea/workspace.xml
/level-editor-cli/.idea/.name
/level-editor-cli/.idea/compiler.xml
/level-editor-cli/.idea/copyright/profiles_settings.xml
/level-editor-cli/.idea/encodings.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_gameapp_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_gameutils_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_gameworld_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_liboldfart_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_libscene_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_libstrip_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_libworldproc_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__br_odb_moonshot_level_editor_core_java_1_0_SNAPSHOT.xml
/level-editor-cli/.idea/libraries/Maven__junit_junit_4_10.xml
/level-editor-cli/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/level-editor-cli/.idea/misc.xml
/level-editor-cli/.idea/modules.xml
/level-editor-cli/.idea/uiDesigner.xml
/level-editor-cli/.idea/workspace.xml
/level-editor-cli/level-editor-app-cli.iml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

level-editor-cli/.project

level-editor-core-java/.project

level-editor-core-java/.classpath

level-editor-cli/target/classes/test.xml

level-editor-cli/target/maven-archiver/pom.properties

level-editor-cli/.classpath

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build